#toolbar-administration {
  display: none;
}

.br50-header {
  display: none;
}

.highlighted {
  display: none
}

.br50-footer {
  display: none;
}

.path-events #block-br50-theme-page-title {
  display: none;
}
