.view-events-calendar,
.view-events {
  max-width: 73em;
  margin-left: auto;
  margin-right: auto;
}

.view-display-id-block_events_upcoming {
  .node__title {
    padding: 0;
    margin: 0;
  }

  .node__content {
    padding-bottom: 0.2rem;
  }

  article {
    margin-bottom: 0.2rem;
  }
}

.fc-list-table {
  .fc-list-heading-main,
  .fc-list-heading-alt {
    color: black;
  }
}

.fc-list-item:hover {
  background-color: red;
}

.fc-title {
  display: block;
}
