<div class="br50-footer__wrapper">
  <div class="br50-footer__hours">
    <span><u>Hours</u></span><br />
  </div>
  <div class="br50-footer__address">
    <span><u>Address</u></span><br />
    524 Belmont Ave West<br />
    Kitchener, ON<br />
    N2M 5E3<br />
  </div>
  <div class="br50-footer__copyright">
    Copyright © {{ 'now' | date('Y') }}<br />
    Royal Canadian Legion Branch 50<br />
    Fred Gies
  </div>
</div>
