<div class="br50-header__logo">
  <img src="/{{ theme_path }}/images/logo/br50_logo.jpg" alt="Branch 50 logo" />
</div>

<div class="br50-header__content">
  <h1>Royal Canadian Legion<br />
    Branch 50 - Fred Gies</h1>
</div>

<div class="br50-header__image">
  <img src="/{{ theme_path }}/images/warbronze.jpg" alt="Bronze statue of war" />
</div>
